<style id='page' type='text/css'><!--
/*------Layout (No Edit)----------*/


body {
background:#FFF;
padding:0;
margin:0;
}
#page a {
height:35px;
width:98%;
padding-top:8px;
padding-bottom:2px;
margin-bottom:0px;
border:2px solid rgba(188,17,21,255);
border-radius:15px;
display:inline-block;
margin-right:2px;
margin-left:0px;
margin-top:10px;
}
#page a img {

margin-right:3px;
margin-top:-6px;

padding-bottom:0px;
}
#page a p {
text-align:center;
font-family: 'Readex Pro', sans-serif;

position: absolute;
margin-right:17%;
margin-top:5px;
width: 50%;
display:inline-block;
font-weight:600;
color:rgba(188,17,21,255);
}
img {
width:42px;height:42px
}
#page a:hover {
    color: #fff;
    background: #210f80;
}
#page a:focus {
    color: #000;
    background: #fbd034;
	
	

}